body {
	width: 80%;
	margin: auto;
}


svg.features {
	position: relative;
}

svg#leftBrow {
	left: 400px;
	top: 150px;
	animation: leftBrowMove 5s linear forwards;
	filter: drop-shadow(10px 0px 10px white);
}

svg#rightBrow {
	top: 150px;
	left: 800px;
	animation: rightBrowMove 5s linear forwards;
	filter: drop-shadow(10px 0px 10px white);
}

svg#leftEye {
	top: 300px;
	left: 400px;
	animation: leftEyeMove 5s linear forwards;
	filter: drop-shadow(10px 0px 10px white);
}

svg#rightEye {
	top: 300px;
	left: 800px;
	animation: rightEyeMove 5s linear forwards;
	filter: drop-shadow(10px 0px 10px white);
}

canvas {
	position: absolute;
	left: 0px;
	top: 0px;
}

@keyframes leftBrowMove {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(10deg);
		top: 170px;
	}
	100% {
		transform: rotate(20deg);
		top: 190px;
	}
}

@keyframes rightBrowMove {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-10deg);
		top: 170px;
	}
	100% {
		transform: rotate(-20deg);
		top: 190px;
	}
}

@keyframes leftEyeMove {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(5deg);
		left: 420px;
	}
	100% {
		transform: rotate(10deg);
		left: 430px;
	}
}

@keyframes rightEyeMove {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-10deg);
		left: 780px;
	}
	100% {
		transform: rotate(-15deg);
		left: 770px;
	}
}