@import url('https://fonts.googleapis.com/css?family=Philosopher');


body {
	margin: 0;

}


.row img {
	width: 33.333%;
	height: 200px;
	float: left;
}



#anger, #sad, #surprise {
	opacity: 0.3;
}

p {
	position: absolute;
	top: 250px;
	left: 550px;
	
	font-size: 100px;
	font-family: 'Philosopher',sans-serif;
	letter-spacing: 8px;
	color: white;
	filter: drop-shadow(10px 0px 10px purple);
}


